.ipynb_checkpoints/
cw/
checkpoint
comp3222_python_lab1.ipynb
housing.tgz
my_time_series_model.data-00000-of-00001
my_time_series_model.index
my_time_series_model.meta
new_environment.rtf
.DS_Store
mlt/